{php $options->initialize($this)}

{if $container}{control $container $this, $options->withStartTag()}{/if}

	{foreach $components as $component}
		{control $component $this, $options, true}

		{if $separator}
			{sep}{control $separator $this, $options}{/sep}
		{/if}
	{/foreach}

	{php $options->finalize($this)}

{if $container}{control $container $this, $options->withEndTag()}{/if}
