{if $container}{control $container $this, ['start' => true]}{/if}

	{foreach $components as $component}
		{control $component $this}

		{if $separator}
			{sep}{control $separator $this}{/sep}
		{/if}
	{/foreach}

{if $container}{control $container $this, ['end' => true]}{/if}
